extends base

block content
    div.main-tab
        table
            thead
                tr
                    th 순위
                    th 곡정보
                    th 뮤지션
                    th 좋아요
                    th 제거
            tbody
                each song, index in favs
                    tr
                        td= index + 1
                        td
                            a.modal-open(href="#")
                                div 
                                    img(src=song.thumb, style={width: '100px', height: 'auto'})
                                div
                                    span #{song.title}
                                    p #{song.url}
                        td= song.singer
                        td= song.favNum
                        td
                            a
                                i.fa.fa-times
    div.music-control
        i(class="fas fa-step-backward")
        i(class="fa fa-solid fa-play")
        i(class="fas fa-step-forward")
    div.navbar
        button.btn(onclick="goToPage('/')") PlayList
        button.btn(onclick="goToPage('/fav')") Fav
    .gray_mask 
    .modal
        a.modal__close(href="#") 
            i.fas.fa-times-circle
        .modal__modal-info 
            p G.Dragon 
            span 삐딱하게
        .modal__music-play 
            iframe(src="", width="560", height="315",  title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
        .modal__like 
            i.fas.fa-heart
            span 2356
    script.
        function goToPage(url) {
            window.location.href = url;
        }